<div class="row" >
  <div class="col-sm-3">
  <app-message-form [message]="selectedMessage" (saveMaessage)="saveMessage($event)" *ngIf="selectedMessage && !newForm"></app-message-form>
  <app-message-form (saveMaessage)="addMessage($event)" *ngIf="newForm"></app-message-form> 
  </div>
  <div dir="ltr" class="col-sm-9" >
   <h2 class="text-center">EMPLOYEE CUSTOMER FORM</h2>
    <input type="text" (change)="messageListSearch()" [(ngModel)]="textSearch" class="col-sm-11 text-center" pInputText placeholder="Search Message" >
    <br>
    <br>
    <div dir="rtl">
      <p-button (click)="addNewMessage()" type="submit">add New Message</p-button>
      </div>
<p-table  [value]="messageListSearch()" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Message number</th>
      <th>User ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Send Date</th>
      <th>Etid Message</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-message>
    <tr>
      <td>{{ message.id }}</td>
      <td>{{ message.userId }}</td>
      <td>{{ message.title }}</td>
      <td>{{ message.body }}</td>
      <td>{{ date}}</td>
      <td><p-button  (click)="selectedMessagee(message)">Edit Message</p-button></td>
    </tr>
  </ng-template>
</p-table>
</div>
</div>